body {
  margin: 0 0;
  width: 100%;
  /* overflow: hidden; */
}

.App {
  overflow-y: scroll;
  background-color: black;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: darkblue;
  padding-top: 26px;
  padding-bottom: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.home-left {
  float: left;
  display: block;
  padding-left: 50px;
  color: white;
}

.home-right {
  float: right;
  display: block;
  padding-right: 50px;
  color: white;
}
