.container {
  padding-top: 75px;
}

.card-content {
  color: orange;
}

.card {
  width: 100%;
}

.comments {
  display: flex;
  justify-content: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

textarea {
  width: 90%;
  margin-left: -150px;
  margin-right: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

li {
  background-color: grey;
  margin-bottom: 15px;
  box-shadow: none;
  border-radius: 5px;
  border-bottom: 2px solid white;
}