.container {
  padding-top: 75px;
}

.card-content {
  color: orange;
}

.card {
  width: 100%;
}

.comments {
  display: flex;
  justify-content: left;
}

li {
  background-color: grey;
  box-shadow: none;
  border-radius: 5px;
  border-bottom: 2px solid white;
}